<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chores List</title>
    <link rel="stylesheet" href="/groceryList.css">
    
</head>

<body>
    <script>
        const listId = "<%= listId %>"
        const currentUser = "<%= currUser %>"
        
    </script>
        
    <script src="/script.js" defer></script>
    <div class="container">


        <div class="todo-app">

            <h2>To-Do List <img src="grocery.jpg" alt=""></h2>

            
            <div class="row">
                <input type="text" id="input-box" placeholder="Add your text">
                <button id="btn" onclick="addItem()">Add Task</button>
            </div>

            <ul id="list-container">
                <!-- <li>Task 1 <span class="task-owner-container">username</span> <span>&#x2715;</span></li> -->
    

            </ul>

            <a href="#">Balance</a>
        </div>


    </div>

    

    <!-- <div class="container">
        <header>
            <h2>Chore List</h2>
            <span>username</span>
        </header>

        <div class="inner-container">
            <div class="row">
                <input type="text" name="item" id="add-item-input">
                <button onclick="addItem()">Add Item</button>
            </div> -->


            <!-- <div class="list-container">

                <ul>
                    <li></li>
    
                </ul>
    

            </div> -->

            
        <!-- </div>

        <div class="list-container">

            <ul>
                <li></li>

            </ul>


        </div>

    </div> -->


</body>

</html>